.c9 ul {
    background-image: url(../../images/c9-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 3.9rem;
    padding-bottom: 4.8rem;
    margin-top: 1.5rem;
    margin-bottom: 8rem;
}

.c9 li {
    display: flex;
    gap: 1.7rem;
}

.c9 li img {
    width: 7.5rem;
    height: 7.5rem;
    box-shadow: 10px 10px 50px 0 rgba(106, 188, 183, 0.3);
}

.head-text-c9 {
    font-family: var(--font-family) !important;
font-weight: 600 !important;
font-size: 1.6rem !important;
line-height: 125% !important;
letter-spacing: 0.05em !important;
text-transform: uppercase !important;
color: #6abcb7 !important;
margin-bottom: 1rem;
}
.c9 li p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    color: #fff;
}

.c9-image-2 {
    width: 100%;
    margin-bottom: 3rem;
}

.c9-end-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #fff;
}
.c9-accent {
    font-weight: 600;
    color: #6abcb7;
}
.guarantee {
    width: 33.6rem;
    height: 13.1rem;
    padding-bottom: 27rem;
}

.guarantee img {
    width: 100%;
    margin-bottom: 3rem;
}
.guarantee p {
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 143%;
text-align: center;
color: #fff;

}
