.c8 {
    background-image: url(../../images/c8-bg.webp);
    background-size: contain;
    background-repeat: no-repeat;
}



.c8 > img {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}
.c8-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #fff;
}